<template name="foodSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input name="name" type="text" value="" placeholder="Food Name"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="price">Price</label>
			<div class="controls">
				<input name="price" type="text" value="" placeholder="Price"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<input name="name" type="text" value="" placeholder="Description"/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>